.parrafo {
  width: 100%;
  font-size: 25px;
  color: #2e2d2d;
  margin: auto;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  border-radius: 5px;
}
.strong {
  color: #008c07;
}

/* .h1 {
  color: #2e2d2d;
  text-align: center;
  font-size: 46px;

}
 */
.containerColor {
  display: flex;
  height: 100vh;
}

.containerColorOne {
  background-color: #ecf2f9;
  width: 50%;
}

.containerColortwo {
  background-color: #c8d9eb;
  width: 70%;
}

.logoInicio {
  width: 300px;
}
.imgIncioFood {
  width: 100%;
  height: 99vh;
  object-fit: cover;
  overflow: hidden;
}

.boton {
  background-color: #006605;
  border: 3px solid #008c07;
  color: #f7edc7;
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 4px rgb(28, 28, 28);
}
.containerBtnImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.containerh1Parrafo {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 80px;
}

.containerColorOne {
  background-color: #ecf2f9;
  width: 50%;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.boton {
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.boton:hover {
  background-color: #116700;
  color: #dc830e;
  box-shadow: 4px 4px 6px rgb(28, 28, 28);
}

.logoInicio {
  width: 300px;
  transition: transform 0.3s ease;
}

.logoInicio:hover {
  transform: scale(1.1);
}

.boton:active {
  transform: translateY(2px);
}

.containerBtnImg:hover .logoInicio {
  transform: translateY(-5px);
}

.h1,
.parrafo {
  transition: text-align 0.5s ease;
}

.h1:hover,
.parrafo:hover {
  text-align: center;
}

.title2 {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 80px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.HomemadeColor {
  color: #008c07;
  margin-right: 10px;
}
.DelightsColor {
  color: #dc830e;
}
/* responsive */
@media (max-width: 450px) {
  .parrafo {
    width: 90%;
    font-size: 20px;
    color: #2e2d2d;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
  }

  .h1 {
    color: #2e2d2d;
    font-size: 36px;
    margin: auto;
    width: 100%;
  }
  .containerColorOne {
    background-color: #ecf2f9;
    width: 100%;
  }

  .containerColortwo {
    display: none;
  }

  .logoInicio {
    width: 300px;
  }
  .imgIncioFood {
    width: 100%;
    height: 99vh;
    object-fit: cover;
    overflow: hidden;
  }

  .containerBtnImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .containerh1Parrafo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (min-width: 450px) and (max-width: 750px) {
  .parrafo {
    width: 90%;
    font-size: 22px;
    color: #2e2d2d;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
  }

  .h1 {
    color: #2e2d2d;
    font-size: 39px;
    margin: auto;
    width: 100%;
  }
  .containerColorOne {
    background-color: #ecf2f9;
    width: 100%;
  }

  .containerColortwo {
    display: none;
  }

  .logoInicio {
    width: 300px;
  }
  .imgIncioFood {
    width: 100%;
    height: 99vh;
    object-fit: cover;
    overflow: hidden;
  }

  .containerBtnImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .containerh1Parrafo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1550px) {
  .parrafo {
    width: 90%;
    font-size: 24px;
    color: #2e2d2d;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
  }

  .h1 {
    color: #2e2d2d;
    font-size: 42px;
    margin: auto;
    width: 100%;
  }
  .containerColorOne {
    background-color: #ecf2f9;
    width: 100%;
  }

  .containerColortwo {
    background-color: #c8d9eb;
    width: 70%;
  }

  .logoInicio {
    width: 300px;
  }
  .imgIncioFood {
    width: 100%;
    height: 99vh;
    object-fit: cover;
    overflow: hidden;
  }

  .containerBtnImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .containerh1Parrafo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
  }
}
