.bgColorForm {

  width: 900px;
  margin: auto;
  margin-top: 100px;

}

.containerAllForm {
  display: flex;
  justify-content: center;
   margin-top: 100px;
  border-radius: 5px;

}
/* 
.containerFormNameSummaryHealthScore {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 500px;
}
.flexInputText {
  display: flex;
  flex-direction: column;
}
.sizeTextForm {
  font-size: 22px;
}
.sizeInputText {
  width: 400px;
  height: 35px;
  border-radius: 5px;
}
.sizeInputTextStep {
  width: 404px;
  height: 65px;
  border-radius: 5px;
}
.sizeInputBtnImg {
  font-size: 20px;
  width: 140px;
  margin: 15px;
  margin-top: 15px;
}
.select {
  width: 55%;
  margin-left: 5px;
  height: 30px;
  font-size: 16px;
}
.dietsbtn {
  background-color: red;
  color: wheat;
  border: none;
  width: 25px;
  height: 20px;
}
.dietsText {
  font-size: 20px;
  margin-left: 5px;
  border-radius: 5px;
  margin: 5px;
}
.containerDietsBtn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 85%;
}

.button {
  padding: 5px;
  font-size: 22px;
  margin-left: 50px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffc966;
}

.backBtn {
  text-align: center;
  margin-top: 140px;
  margin-left: 50px;
  font-size: 35px;
  color: #0f0f0f;
  border-radius: 10px;
  border: 1px solid black;
}

.InputErrorMessage {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: red;
  height: 40px;
  border-radius: 10px;
}
.error {
  margin-left: -320px;
  color: rgb(245, 20, 20);
  font-size: 14px;
}
.imageURL {
  width: 15%;
  margin: auto;
}
.imgForm {
  width: 300px;
  background-color: red;
  margin-left: 20px;
  margin-top: 30px;
}
.flexAllContainer {
  display: flex;
  width: 600px;
  height: 790px;
  background-color: rgb(243, 243, 243);
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid black;

} */

/* responsive*/

