.formContainer {
  text-align: center;
  background-color: #ecf2f9;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form {
  background-color: #c8d9eb;
  text-align: center;
  width:36%;
  border-radius: 4px;
  padding: 36px;
  height: 520px;

}
.imgDiet{
  display: flex;
  margin-right: 110px;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  color: #2e2d2d;

}
.flexbox{
  display: flex;

}


.input {
  border: none;
  border-bottom: 1px solid #646464;
  outline: none;
  width: 80%;

  margin-left:10px ;
  background-color: #c8d9eb;
  


}

.inputImage {
  width: 30%;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 19px;
  background-color: #3b3a3a49;
  color: #f7edc7;
  border-radius: 5px;
  
}

.imageURL {
  width: 600px;
  height: 575px;
  margin-bottom:6px;
  border: 7px solid  #c8d9eb; 
}
.error{
color:red;
font-size: 10px;
text-align: right;
margin-right: 56px;

}

.button {
  margin-top: 65px;
  width: 30%;
  padding: 5px;
  font-size: 22px;
  border-radius: 10px;
  color: #f7edc7;
  background-color: #34aa22;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}



.containerTextBtn {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.btn {
  width: 0%;
  margin: auto;
  background-color: #34aa22;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: #f7edc7;
  border-radius: 10px;
}
.btnBack {
  float: left;
  margin-bottom: 820px;
 
  font-size: 25px;

}
.h4{
  
  text-align: left;
  font-size: 25px;
  color: #2e2d2d;
}


/* responsive*/

@media (max-width: 420px) {
  .h1 {
    color: #2e2d2d;
    font-size: 25px;
    width: 330px;
  }
  .form {
    background-color: #ecf2f9;
    text-align: center;
    width: 220px;
    margin: auto;
    border-radius: 4px;

    padding: 30px;
    margin-top: 90px;
  }

  .formContainer {
    text-align: center;
    background-color: #c8d9eb;
    min-height: 100vh;
    width: 100%;
  }

  .label {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 19px;
    color: #2e2d2d;
  }

  .labelDiets {
    font-size: 21px;
    margin: 5px;
  }

  .input {
    width: 80%;
    height: 20px;
    margin: 2px;
    font-size: 19px;

    color: #2e2d2d;
    border-radius: 5px;
  }

  .inputImage {
    width: 100%;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    background-color: #0e0f1049;
    color: #f7edc7;
    border-radius: 5px;
  }

  .imageURL {
    width: 181px;
  }

  .button {
    margin-top: 65px;
    width: 60%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    color: #f7edc7;
    background-color: #34aa22;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  .textarea {
    width: 100%;
    height: 60px;
    margin: auto;
  }

  .containerTextBtn {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .btn {
    width: 50%;
    margin: auto;
    background-color: #34aa22;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: #f7edc7;
    border-radius: 10px;
  }
  .btnBack {
    float: left;
    margin-top: 20px;
    margin-left: 6%;
    font-size: 25px;
  }
}

@media screen and (min-width: 420px) and (max-width: 600px) {
  .h1 {
    color: #2e2d2d;
    font-size: 27px;
    width: 430px;
  }
  .form {
    background-color: #ecf2f9;
    text-align: center;
    width: 300px;
    margin: auto;
    border-radius: 4px;

    padding: 30px;
    margin-top: 90px;
  }

  .formContainer {
    text-align: center;
    background-color: #c8d9eb;
    min-height: 100vh;
    width: 100%;
  }

  .label {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 19px;
    color: #2e2d2d;
  }

  .labelDiets {
    font-size: 21px;
    margin: 5px;
  }

  .input {
    width: 80%;
    height: 20px;
    margin: 2px;
    font-size: 19px;

    color: #2e2d2d;
    border-radius: 5px;
  }

  .inputImage {
    width: 100%;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    background-color: #0e0f1049;
    color: #f7edc7;
    border-radius: 5px;
  }

  .imageURL {
    width: 181px;
  }

  .button {
    margin-top: 65px;
    width: 60%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    color: #f7edc7;
    background-color: #34aa22;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  .textarea {
    width: 100%;
    height: 60px;
    margin: auto;
  }

  .containerTextBtn {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .btn {
    width: 50%;
    margin: auto;
    background-color: #34aa22;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: #f7edc7;
    border-radius: 10px;
  }
  .btnBack {
    float: left;
    margin-top: 20px;
    margin-left: 6%;
    font-size: 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .h1 {
    color: #2e2d2d;
    font-size: 27px;
    width: 430px;
  }
  .form {
    background-color: #ecf2f9;
    text-align: center;
    width: 45%;
    margin: auto;
    border-radius: 4px;

    padding: 35px;
    margin-top: 90px;
  }

  .formContainer {
    text-align: center;
    background-color: #c8d9eb;
    min-height: 100vh;
    width: 100%;
  }

  .label {
    display: flex;
    flex-direction: column;
    margin: 9px;
    font-size: 20px;
    color: #2e2d2d;
  }

  .labelDiets {
    font-size: 21px;
    margin: 5px;
  }

  .input {
    width: 80%;
    height: 25px;
    margin: 2px;
    font-size: 19px;

    color: #2e2d2d;
    border-radius: 5px;
  }

  .inputImage {
    width: 100%;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    background-color: #0e0f1049;
    color: #f7edc7;
    border-radius: 5px;
  }

  .imageURL {
    width: 181px;
  }

  .button {
    margin-top: 65px;
    width: 60%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    color: #f7edc7;
    background-color: #34aa22;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  .textarea {
    width: 100%;
    height: 60px;
    margin: auto;
  }

  .containerTextBtn {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .btn {
    width: 50%;
    margin: auto;
    background-color: #34aa22;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: #f7edc7;
    border-radius: 10px;
  }
  .btnBack {
    float: left;
    margin-top: 20px;
    margin-left: 6%;
    font-size: 25px;
  }
}
