.containerDetail{

    color:black;
    text-align: center;
   
    background-color: #97cba9;
}

.parrafo{
    font-size: 22px;
    width: 1200px;
    margin: auto;
    color: white;
    
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}