.containerDetail {
  color: white;
  text-align: center;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 5px;
  animation: fade-in 1s ease-in;
  height: 845px;

 
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.containerDetails {
  display: flex;
  
  
}
.img {
  width: 750px;
  border-radius: 12px;
  border: 2px solid #f7edc7;
}
.containerResume {
  margin-top: 50px;
  margin-left: 30px;
  margin: auto;
  text-align: left;
  color: aliceblue;
  padding: 6px;
  
}
.h2 {
  text-align: left;
  color: aliceblue;
}
.btn {
  background-color: #07700b;
  color: aliceblue;
  border: none;
  margin-top: 50px;
  margin-left: 1550px;
  font-size: 30px;
  padding: 3px;
  border-radius: 5px;
}

.resume {
  color: aliceblue;
  font-size: 19px;
}
.diets {
  font-weight: bold;
  margin: 5px;
 color: aliceblue;
}
