.containerDetail {
  color: white;
  text-align: center;
  width: 1600px;
  margin: auto;
  background-color: #c8d9eb;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 5px;
  animation: fade-in 1s ease-in;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.containerDetails {
  display: flex;
  margin-top: 80px;
}
.img {
  width: 750px;
  border-radius: 12px;
  border: 2px solid #f7edc7;
}
.containerResume {
  margin-top: 35px;
  margin-left: 30px;
  text-align: left;
  color: #2e2d2d;
  padding: 6px;
}
.h2 {
  text-align: left;
  color: #2e2d2d;
}
.btn {
  background-color: #07700b;
  color: aliceblue;
  border: none;
  margin-top: 50px;
  margin-left: 1550px;
  font-size: 30px;
  padding: 3px;
  border-radius: 5px;
}

.resume {
  color: rgb(0, 0, 0);
  font-size: 19px;
}
