.containerDetail {
  color: white;
  text-align: center;
  width: 1600px;
  margin: auto;
}

.containerDetails {
  display: flex;
  margin-top: 80px;
}
.img {
  width: 750px;
  border-radius: 12px;
  border: 2px solid #f7edc7;
}
.containerResume {
  margin-top: 70px;
  margin-left: 30px;
  text-align: left;
  color: #2e2d2d;

}
.h2 {
  text-align: left;
  color: #2e2d2d ;

}
.btnBack {
  font-size: 25px;
  margin-top: 130px;
  margin-left: 160px;
}
