.containerAbout {
  margin-top: 200px;
  text-align: center;
  width: 50%;
  margin: auto;
  color: #282828;
  border-radius: 10px;
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1{
  margin-top: 50px;
  font-size: 40px;
  color: #282828;
  padding: 15px;
}
.h2{
  font-size: 30px;
}

.parrafo {
  font-size: 25px;
  width: 800px;
  margin: auto;
  text-align: left;
  text-shadow: 10px 7px 23px 3px rgba(0,0,0,0.75);
  padding: 25px;
}

.containerImgParrafo{
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  margin-top: 50px;
}

.imgAbout{
  width: 200px;
  
}

.img{
  width: 100px;
}

.containerTechnologiesLogos{
  margin-top: 240px;
 
}

.btn{
background-color: #07700b;
color: aliceblue;
border: none;
margin-top: 50px;
margin-left: 1150px;
font-size: 30px;
padding: 3px;
border-radius: 5px;
}
