.filterAllContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  
}

.filter {
  margin: 10px;

}
.typeDiet {
 
  font-size: 24px;
  display: inline-block;
}

.filterOneContainer {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-size: 25px;
  color: #f7edc7;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
  text-align: center;

}
.select {
    background-color: rgba(0, 0, 0, 0.5);
  color: #f7edc7;
  border-radius: 6px;
  font-size: 19px;
  margin-top: 5px;
  text-align: center;
  width: 145px;
  padding:2px;
}

/* Responsive */
@media (max-width: 319px) {
  .filterAllContainer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 10px;
    margin-left: 140px;
  }
  
  .filter {
    margin: 1px;
  
  }
  .typeDiet {
   
    font-size: 18px;
    display: inline-block;
  }
  
  .filterOneContainer {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 14px;
    color: #f7edc7;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    text-align: center;
  
  }
  .select {
      background-color: rgba(0, 0, 0, 0.5);
    color: #f7edc7;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    width: 50px;
    padding:2px;
  }
  
}


@media screen and (min-width: 320px) and (max-width: 800px) {
   
  .filterAllContainer {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    
  }
  
  .filter {
    margin: 20%;
  
  }
  .typeDiet {
   
    font-size: 18px;
    display: inline-block;
  }
  
  .filterOneContainer {
    display: flex;
    flex-direction: column;
    margin: 5%;
    font-size: 100%;
    color: #f7edc7;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    text-align: center;
  
  }
  .select {
      background-color: rgba(0, 0, 0, 0.5);
    color: #f7edc7;
    border-radius: 6px;
    font-size: 100%;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    padding:1%;
  }
  
} 


 /* @media screen and (min-width: 601px) and (max-width: 800px) {
   

} 
 */

 /* @media screen and (min-width: 601px) and (max-width: 800px) {
   

} 
 */