.filterAllContainer {
  display: flex;
  justify-content: center;
  margin-top: 120px;
 
  
}

.filter {
  margin: 10px;
 
}
.typeDiet {
  
  font-size: 24px;
  display: inline-block;
}

.filterOneContainer {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-size: 25px;
  color: #2e2d2d ;

  text-align: center;

}
.select {
  
  
  border-radius: 6px;
  font-size: 19px;
  margin-top: 5px;
  text-align: center;
  width: 145px;
  padding:2px;
}
