
/* .containerAllrecipes{
  background-color: red;

} */

/* @keyframes flipAnimation {

  0% {
    transform: perspective(800px) rotateY(180deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
} */

/* .cardImage:hover {
  border: 3px solid #8bc436;
   animation: flipAnimation 2.5s ease ;
}





.link {
  list-style: none;
  text-decoration: none;
}

 */

 .cardName {
  color: #282828;
  font-size: 17px;
  width: 290px;
  margin: auto;
  margin-bottom: 10px;
}

.card {
  text-align: center;
  border-radius: 5px;
  background-color: #eeeeee;
  height: 250px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  margin-top: 20px;
}
.cardImage {
  border-radius: 2px;
  border: 2px solid #ffffff;
  margin-top: 6px;
  width: 250px;

} 

.span {
  color: #282828;
  width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
}