.card {
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #c8d9eb;
  height: 390px;
  width: 340px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.cardImage {
  border-radius: 2px;
  width: 300px;
  border: 2px solid #ffffff;
  margin: 20px;
}
.cardImage:hover{
  border: 2px solid green;
}
.card {
  position: relative;
  margin: 8px;
  margin-bottom: 25px;
}

.cardName {
  color: #282828;
  font-size: 19px;
  text-shadow: 2px 2px 5px rgb(225, 223, 223);
  width: 320px;
  margin: auto;
  margin-bottom: 10px;
}


.span {
  color: #282828;
  width: 120px;

}

.link {
  list-style: none;
  text-decoration: none;
}
