.containerHome{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1450px;
    margin: auto;
    
}

/* Responsive */
/* @media (max-width: 300px) {
    .containerHome{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 0px;
        margin: auto;
        
    }
  }
  
  @media screen and (min-width: 301px) and (max-width: 650px) {
   
  } */
  
  
  /* @media screen and (min-width: 601px) and (max-width: 800px) {
     
  
  } 
   */