.containerHome {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  animation: fade-in 1s ease-in;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate8345 {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 300px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

.color {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 1;
  transform: skewY(-4deg);
  transform-origin: top left;
}
