

.containerHome{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    
}

@keyframes animate8345 {
    0%,100% {
      filter: hue-rotate(0deg);
    }
  
    50% {
      filter: hue-rotate(360deg);
    }
  }
  
/*   .loader {
    color: transparent;
    background: linear-gradient(to right, #2d60ec, #3ccfda);
    font-size: 30px;
    background-clip: text;
    animation: animate8345 9s linear infinite;
    font-weight: bold;
    position: absolute;
  } */