.searchBar{
    background-color: #f7eec7;
    height: 22px;
    font-size: 22px;
    border-radius:8px;
    border: 2px solid black;
    
}
.buttom{
    background-color: #34aa22;
    color: #f7eec7;
    padding: 4px;
    border-radius: 8px;
    width: 60px;
    height:29px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-left: 10px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 15px;
}
.buttom:hover{
    animation-name: color;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    background-color: #59bb4a;
   
}
.containerBtnSearchBar{
    display: flex;
}


@media (max-width: 460px) {
.searchBar{
    width: 65%;
    height: 14px;
    font-size: 19px;
    border-radius:10px;
}

.buttom{
    background-color: #34aa22;
    color: #f7eec7;
    padding: 3px;
    border-radius: 10px;
    margin-left: 1px;

}
  }