.footer {
  background-color: #eaeaea;
  height: 35px;
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.contact {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
}
.info {
  margin: 10px;
}

.l {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(23, 75, 189);
}
.g {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.t {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(23, 145, 189);
}

.p {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;  
  color: rgb(30, 30, 30);
}
