.nav {
  background-color: #c8d9eb;
  height: 75px;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 1px 1px #008c07;
}

.link {
  color: #282828;
  margin: 20px;
  text-decoration: none;
  font-size: 25px;
}

.nombreIcono {
  font-size: 25px;
  margin-left: 5px;
}

.containerLinks {
  display: flex;
}

.searchBar {
  margin-top: 22px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.containerNavSearch {
  display: flex;
  justify-content: space-around;
}

.ban {
  width: 6%;
  display: block;
  float: left;
  margin-left: 40px;
  margin-top: -15px;
}

/* Responsive */

@media (max-width: 455px) {
  .nav {
    background-color: #c8d9eb;
    height: 65px;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 1px #008c07;
  }

  .link {
    color: #282828;
    margin: 1px;
    text-decoration: none;
    font-size: 22px;
  }

  .nombreIcono {
   display: none;
  }

  .containerLinks {
    display: flex;
    justify-content: space-evenly;
}

  .searchBar {
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  .containerNavSearch {
    display: flex;
    flex-direction: column;

 
  }

  .ban {
    display: none;
  }
}
 
 
 @media screen and (min-width: 455px) and (max-width: 725px) {
    .nav {
    background-color: #c8d9eb;
    height: 65px;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 1px #008c07;
  }

  .link {
    color: #282828;
    margin-left: 10px;
    text-decoration: none;
    font-size: 24px;
  }

  .nombreIcono {
   display: none;
  }

  .containerLinks {
    display: flex;
    justify-content: space-evenly;
}

  .searchBar {
    margin-top: 23px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  .containerNavSearch {
    display: flex;
  }

  .ban {
    display: none;
  }
  
 } 

@media screen and (min-width: 725px) and (max-width: 950px) {
  .nav {
    background-color: #c8d9eb;
    height: 65px;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 1px #008c07;
  }

  .link {
    color: #282828;
    margin-left: 2px;
    text-decoration: none;
    font-size: 24px;
  }

  .nombreIcono {
    font-size: 22px;
    margin-left: 5px;
  }

  .containerLinks {
    display: flex;
    justify-content: space-evenly;
}

  .searchBar {
    margin-top: 22px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  .containerNavSearch {
    display: flex;
  }

  .ban {
    display: none;
  }
 
 } 

 @media screen and (min-width: 950px) and (max-width:1600px) {
  .nav {
    background-color: #c8d9eb;
    height: 65px;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 1px #008c07;
  }

  .link {
    color: #282828;
    margin-left: 2px;
    text-decoration: none;
    font-size: 24px;
  }

  .nombreIcono {
    font-size: 22px;
    margin-left: 5px;
  }

  .containerLinks {
    display: flex;
    justify-content: space-evenly;
}

  .searchBar {
    margin-top: 22px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  .containerNavSearch {
    display: flex;
  }

  .ban {
display: none;
  }
 
 } 